.empty-list {
  position: relative;
  top: 45%;
  left: 30%;
}
.list-icon {
  width: 150px;
  height: 150px;
  padding: 10px 5px;
  position: relative;
  box-sizing: border-box;
  white-space: pre-line;
  box-shadow: 0 0 0 1px rgb(242, 242, 242);
  font-size: 0.01em;
}
.list-icon-container {
  margin: 25px;
}
.tick {
  height: 35px;
  position: absolute;
  width: 35px;
  float: right;
  right: 5px;
  bottom: 5px;
}
.caption {
  text-transform: capitalize;
  text-align: center;
  text-emphasis: weight;
  width: 100%;
}
.light {
  color: gray;
  font-size: 0.9em;
}