fieldset {
    all: unset;
}
fieldset > * {
    background-color: white;
}
textarea:focus, input:focus {
    outline: none;
}
label {
    display: block;
    color: rgb(105, 105, 105);
}
textarea {
    resize: none;
    height: 145px;
    width: 100%;
    box-sizing: border-box;
}
select {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: transparent;
    text-transform: capitalize;
}
.detail {
    width: 120px;
    text-align: end;
    text-transform: capitalize;
}
.date-menu {
    display: flex;
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 30px;
}
.date-menu > * {
    background-color: white;
    display: flex;
    border: none;
    padding: 0 10px;
    line-height: 30px;
}
.date-menu > input[type="button"] {
    text-transform: capitalize;
    margin-right: 1px;
}
.deadline {
    grid-area: deadline;
}
.expand {
    justify-self: flex-end;
    transition: transform 0.6s;
}
.notes {
    grid-area: notes;
}
.priority {
    grid-area: priority;
}
.panel {
    display: grid;
    border-top: solid 1px rgb(224, 224, 224);
    height: 180px;
    padding: 10px 0 5px 5px;
    grid-template-columns: auto 290px;
    grid-template-areas:
        "notes deadline"
        "notes priority"
        "notes delete";
    grid-gap: 10px;
}
.panel > .deleteButton {
    grid-area: delete;
    width: 70px;
    height: 30px;
    justify-self: end;
    margin: inherit;
}
.spaced {
    padding: 3px 10px 3px 10px;
}
.title-bar {
    display: flex;
    align-items: center;
    height: 33px;
    width: 100%;
}
.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.text {
    width: 100%;
    border: none;
    padding-left: 5px;
}
