header {
    background-color: #323030;
    display: flex;
    height: 30px;
    padding: 0 2px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}
header button {
    background-color: #585454;
    border: solid 1px black;
    color: white;
    padding: 5px 20px;
    margin: 2px 1px;
}
nav {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
Link {
    all: inherit;
}